main {
    padding-top: 2rem;
}


.background {
    background: url("../images/plans.jpg") center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.package {
    width: 80%;
    margin: 1rem 0;
    border: 4px solid #0e4f1f;
    border-left: none;
    position: relative;
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 1.9rem;
    /* z-index: 0; */
}


.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-color: #ff5454;
}
/* .package__title {

} */

.package__subtitle {
    color: #979797
}

.package__info {
    padding: 1rem;
    border: 1px solid #0e4f1f;
    font-size: 1.2rem;
    margin: 0;
    margin-top: 1.2rem;
    color: #0e4f1f;
    background-color: #fff;
}

.package__badge {
    /* z-index: 10; */
    position: absolute;
    top: 0;
    right : 0;
    margin: 1.2rem;
    font-size: 0.75rem;
    color: #fff;
    background: #ff5454;
    padding: 8px;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
    /* z-index: 0; */
}

#free {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
    text-align: right;
}

#free:hover,
 #free:active {
    border-color: #ff5454;
}

#premium {
    background: rgba(14, 79, 41, 0.95);
}

#premium .package__title {
    color: #fff;
}

#premium .package__subtitle {
    color: #bbb;
}

.clearfix {
    clear: both;
}
